<div class="page-header"></div>
<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @sys_property, html: {role: 'form'} do |f| %>
      <%= f.input :name %>
      <%= f.input :status do %>
        <%= f.select :status, Sys::Property::STATUS %>
      <% end %>
      <%= f.input :values_name do %>
      <%= text_area_tag "property_values_name", @sys_property.values_name.join("\r\n"), style: "height: 200px" %>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>