<div class="row">
  <div class="col-sm-12">
    <%= simple_form_for @sys_product, html: {role: 'form'} do |f| %>
      <%= f.input :title, input_html: {autocomplete: "off"} %>
      <%= f.association :category %>
      <%= f.input :num, input_html: {autocomplete: "off"} %>
      <%= f.input :price, input_html: {autocomplete: "off"} %>
      <%= f.input :description, input_html: {cols:"30", rows: "10"} %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>