<div class="page-header">
  <h1>
    <%= @sys_product.title %>
  </h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a data-toggle="tab" href="#base-info">基本信息</a>
        </li>

        <li>
          <a data-toggle="tab" href="#sku-list">商品SKU</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- base info -->
        <div id="base-info" class="tab-pane in active">
          <%= render("base_info") %>
        </div>
        <!-- base info -->

        <div id="sku-list" class="tab-pane">
          <%= link_to("添加SKU", new_sys_sku_path(product_id: 1), class: "btn btn-xs btn-primary", remote: true) %>

          <table id="sample-table-1" class="table table-striped table-bordered table-hover">  
            <thead>
              <tr>
                <% Sys::Sku.inner_list_attributes.each do |attr_name| %>
                  <th>
                    <%= Sys::Sku.human_attribute_name(attr_name) %>
                  </th>
                <%- end -%>
                <th class="center">
                  
                </th>
              </tr>
            </thead>

            <tbody id="tbody_skus">
              <%= render(partial: "sys/skus/sys_sku", collection: @sys_skus) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /span -->
</div>


<div id="sku_form" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="sku_form_content">
      
    </div>
  </div>
</div><!-- PAGE CONTENT ENDS -->
<div id="sku_show" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="sku_show_content">
      
    </div>
  </div><!-- PAGE CONTENT ENDS -->
</div>
<div id="edit_sku_bindings" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="edit_sku_bindings_content">
      
    </div>
  </div><!-- PAGE CONTENT ENDS -->
</div>
<script type="text/javascript">
  jQuery(function($) {
    $(".chosen-select").chosen();
    $('#modal-form').on('shown.bs.modal', function () {
      $(this).find('.chosen-container').each(function(){
        $(this).find('a:first-child').css('width' , '210px');
        $(this).find('.chosen-drop').css('width' , '210px');
        $(this).find('.chosen-search input').css('width' , '200px');
      });
    })
  })
</script>
