<%= form_for(@tb_sku) do |f| %>
  <% if @tb_sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tb_sku.errors.count, "error") %> prohibited this tb_sku from being saved:</h2>

      <ul>
      <% @tb_sku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ts_id %><br>
    <%= f.text_field :ts_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
