<tr id="tb_sku_<%= tb_sku.id%>">
  <% Tb::Sku.inner_list_attributes.each do |attr_name| %>
    <td>
      <%- case attr_name 
          when "sku_bindings" -%>
        <%- tb_sku.sku_bindings.each do |sku_binding| -%>
          <%= link_to sku_binding.for_sku_name, edit_sku_binding_path(sku_binding, partial_type: "tb_sku"), remote: true %>
          <%= link_to raw(%Q(<i class="icon-remove red"></i>)), sku_binding_path(sku_binding, partial_type: "tb_sku"), method: :delete, remote: true, data: { confirm: '您确定要删除吗？'} %>
          <br/>
        <%- end -%>
        <%= link_to "+绑定商品", new_sku_binding_path(sku_id: tb_sku.id, partial_type: "tb_sku"), class: "btn btn-xs btn-warning", remote: true %>
      <%- else -%>
        <%= tb_sku.send(attr_name) %>
      <%- end -%>
    </td>
  <%- end -%>
</tr>