<div class="row">
  <div class="col-sm-12">
    <%= simple_form_for @core_seller, html: {role: 'form'} do |f| %>
      <%= f.input :name, input_html: {autocomplete: "off"} %>
      <%= f.input :fullname, input_html: {autocomplete: "off"} %>
      <%= f.association :stock %>
      <%= f.input :mobile, input_html: {autocomplete: "off"} %>
      <%= f.input :phone, input_html: {autocomplete: "off"} %>
      <%= f.input :email, input_html: {autocomplete: "off"} %>
      <%= f.input :address, input_html: {autocomplete: "off"} %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "取消", name: "btn_cancel", class: "btn" %>
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>