<div class="page-header"></div>
<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @sku_binding, html: {role: 'form'}, remote: true do |f| %>
      <%= f.input :sys_sku_id do %>
        <%= @sku_binding.sys_sku.name %>
        <%= f.hidden_field :sys_sku_id %>
        <%= hidden_field_tag :from, "sys_sku" %>
      <%- end -%>
      <%= f.input :sku_id do %>
        <%= f.select :sku_id,  @skus.collect{|sku| [sku.full_name, sku.id]}, {include_blank: true}, class: "chosen-select" %>
      <%- end -%>
      <%= f.input :sys_sku_number %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "取消", name: "btn_cancel", class: "btn" %>
          &nbsp; &nbsp; &nbsp;
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  jQuery(function($) {
    $(".chosen-select").chosen();
  })
</script>