<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @core_user_role.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @core_user_role.role_id %>
</p>

<%= link_to 'Edit', edit_core_user_role_path(@core_user_role) %> |
<%= link_to 'Back', core_user_roles_path %>
