<h1>Listing core_logistic_areas</h1>

<table>
  <thead>
    <tr>
      <th>Logistic</th>
      <th>Area</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @core_logistic_areas.each do |core_logistic_area| %>
      <tr>
        <td><%= core_logistic_area.logistic_id %></td>
        <td><%= core_logistic_area.area_id %></td>
        <td><%= link_to 'Show', core_logistic_area %></td>
        <td><%= link_to 'Edit', edit_core_logistic_area_path(core_logistic_area) %></td>
        <td><%= link_to 'Destroy', core_logistic_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logistic area', new_core_logistic_area_path %>
