<p id="notice"><%= notice %></p>

<p>
  <strong>Logistic:</strong>
  <%= @core_logistic_area.logistic_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @core_logistic_area.area_id %>
</p>

<%= link_to 'Edit', edit_core_logistic_area_path(@core_logistic_area) %> |
<%= link_to 'Back', core_logistic_areas_path %>
