<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @core_stock_product.stock_id %>
</p>

<p>
  <strong>Sys product:</strong>
  <%= @core_stock_product.sys_product_id %>
</p>

<p>
  <strong>Sys sku:</strong>
  <%= @core_stock_product.sys_sku_id %>
</p>

<p>
  <strong>Activite num:</strong>
  <%= @core_stock_product.activite_num %>
</p>

<p>
  <strong>Actual num:</strong>
  <%= @core_stock_product.actual_num %>
</p>

<%= link_to 'Edit', edit_core_stock_product_path(@core_stock_product) %> |
<%= link_to 'Back', core_stock_products_path %>
