<%= form_for(@core_account_permission) do |f| %>
  <% if @core_account_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_account_permission.errors.count, "error") %> prohibited this core_account_permission from being saved:</h2>

      <ul>
      <% @core_account_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.text_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :permission_id %><br>
    <%= f.text_field :permission_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
