<div class="row">
  <div class="col-sm-12">
    <%= simple_form_for @sys_sku, html: {role: 'form'} do |f| %>
      <%= f.hidden_field :product_id %>
      <%= f.input :name, input_html: {autocomplete: "off"} %>
      <%= f.input :number, input_html: {autocomplete: "off"} %>
      <%= f.input :price, input_html: {autocomplete: "off"} %>
      <%= f.input :property_values_ids do %>
        <%- if @sys_properties.present? -%>
          <table class="table table-striped table-bordered">
            <tbody>
              <%- @sys_properties.each do |property| -%>
                <tr>
                  <th><%= property.name %></th>
                  <td>
                    <% property.values.each do |val| %>
                      <label>
                        <%= radio_button_tag "pro_values_ids[#{property.id}]", val.id, @sys_sku.property_values_ids.include?(val.id), id: "val_#{val.id}" %><%= val.name %> 
                      </label><br/>
                    <%- end -%>
                    <label>
                      <%= radio_button_tag "pro_values_ids[#{property.id}]", 0, false, id: "val_#{property.id}_0" %>无
                    </label>
                  </td>
                </tr>
              <%- end -%>
            </tbody>
          </table>
        <%- end -%>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%- if @sys_sku.new_record? -%>
            <%= link_to "取消", sys_products_path, name: "btn_cancel", class: "btn" %>
          <%- else -%>
            <%= link_to "取消", sys_sku_path(@sys_sku), name: "btn_cancel", class: "btn" %>
          <%- end -%>
          &nbsp; &nbsp; &nbsp;
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>