<tr id="sys_sku_<%= sys_sku.id %>">
  <% Sys::Sku.inner_list_attributes.each do |attr_name| %>
    <td>
      <% case attr_name
        when "price" %>
        <%= format_price(sys_sku.send(attr_name)) %>
      <%- when "property_values_name" -%>
        <%= sys_sku.send(attr_name).join("<br/>").html_safe %>
      <%- when "sku_bindings" -%>
        <%- sys_sku.sku_bindings.each do |sku_binding| -%>
          <%= link_to sku_binding.for_sys_sku_name, edit_sku_binding_path(sku_binding, partial_type: "sys_sku"), remote: true %>
          <%= link_to raw(%Q(<i class="icon-remove red"></i>)), sku_binding_path(sku_binding, partial_type: "sys_sku"), method: :delete, remote: true, data: { confirm: '您确定要删除吗？'} %>
          <br/>
        <%- end -%>
        <%= link_to "+绑定商品", new_sku_binding_path(sys_sku_id: sys_sku.id, partial_type: "sys_sku"), class: "btn btn-xs btn-warning", remote: true %>
      <%- when "created_and_updated" -%>
        <%= sys_sku.created_at %><br/>
        <%= sys_sku.updated_at %>
      <%- else -%>
        <%= sys_sku.send(attr_name) %>
      <%- end -%>
    </td>
  <%- end -%>
  <td>
    <%= link_to "查看", sys_sku, class: "btn btn-xs btn-success", remote: true %>
    <%= link_to "编辑", edit_sys_sku_path(sys_sku), class: "btn btn-xs btn-primary", remote: true %>
    <%= link_to "删除 ", sys_sku_path(sys_sku), class: "btn btn-xs btn-danger", method: :delete, remote: true, data: { confirm: '您确定要删除吗？'} %>
  </td>
</tr>