<div class="row">
  <div class="col-xs-12">
    <div class="tab-pane active" id="stock_check">
      <%= form_tag admin_account_permissions_path, method: "GET", class: "well well-small form-horizontal font12" do %>
        <fieldset class="form-inline mar_t5">
          <div class="controls pull-left padding-right-5">
            <label for="search_title"><%= Admin::AccountPermission.human_attribute_name(:account_name) %>：</label>
            <input type="text" class="input-medium radius_no_tl" name="account_name" value='<%= params[:account_name] %>' placeholder="关键字...">
          </div>
          <div class="controls pull-left padding-right-5">
            <%= submit_tag "搜索", class: "btn btn-xs btn-primary pull-right" %>
          </div>
        </fieldset>
      <%- end -%>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="table-responsive">
      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <% Admin::AccountPermission.list_shown_attributes.each do |attr_name| %>
              <th>
                <%= Admin::AccountPermission.human_attribute_name(attr_name) %>
              </th>
            <%- end -%>
            <th class="center">
              
            </th>
          </tr>
        </thead>

        <tbody>
          <% @admin_account_permissions.each do |admin_account_permission| %>
            <tr>
              <% Admin::AccountPermission.list_shown_attributes.each do |attr_name| %>
                <td>
                  <%= admin_account_permission.send(attr_name) %>
                </td>
              <%- end -%>
              <td>
                <%= link_to "编辑", edit_permissions_admin_account_permissions_path(account_id: admin_account_permission.account_id), class: "btn btn-xs btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%#= will_paginate @admin_account_permissions, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>