<%= f.association :stock %>
<%= f.input :cat_name, input_html: {autocomplete: "off"} %>
<%= f.input :cat_name do -%>
  <%= f.select :cat_name,  Core::StockInBill::PUBLIC_IN_CATS, {include_blank: true}, class: "select optional form-control" %>
<%- end -%>
<%= f.input :customer_name, input_html: {autocomplete: "off"} %>
<%= f.input :mobile, input_html: {autocomplete: "off"} %>
<%= f.input :phone, input_html: {autocomplete: "off"} %>
<%= f.input :address, input_html: {autocomplete: "off"} %>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "取消", name: "btn_cancel", class: "btn" %>
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
</div>