<div class="row">
  <div class="col-sm-12">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <%= render("core/stocks/tab_navs") %>
      </ul>

      <div class="tab-content">
        <div class="row">
          <div class="col-sm-6 form-horizontal">
            <% %w(identifier stock_name cat_name_zh state_name updater_name updated_at).each do |attr_name| %>
              <div class="form-inline">
                <label><%= Core::StockInBill.human_attribute_name(attr_name) %>：</label>
                <%= @core_stock_in_bill.send(attr_name) %>
              </div>
            <%- end -%>
          </div>
          <div class="col-sm-6 form-horizontal">
            <% %w(customer_name area_id address mobile phone).each do |attr_name| %>
              <div class="form-inline">
                <label><%= Core::StockInBill.human_attribute_name(attr_name) %>：</label>
                <%= @core_stock_in_bill.send(attr_name) %>
              </div>
            <%- end -%>
          </div>
           <div class="col-sm-12 form-horizontal">
            <div class="form-inline">
              <label><%= Core::StockInBill.human_attribute_name(:remark) %>：</label>
              <%= @core_stock_in_bill.remark %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                  <a data-toggle="tab" href="#bill_product_list">商品信息</a>
                </li>
                <li>
                  <a data-toggle="tab" href="#bill_log_list">更新日志</a>
                </li>
              </ul>

              <div class="tab-content">
                <!-- base info -->
                <div class="tab-pane in active" id="bill_product_list">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <% Core::BillProduct.inner_shown_attributes_for_stock_bill.each do |attr_name| -%>
                          <th>
                            <%= Core::BillProduct.human_attribute_name(attr_name) %>
                          </th>
                        <%- end -%>
                      </tr>
                    </thead>
                    <tbody>
                      <%- @bill_products.each do |bill_product| -%>
                        <tr>
                          <%= Core::BillProduct.inner_shown_attributes_for_stock_bill.each do |attr_name| -%>
                            <td><%= bill_product.send(attr_name) %></td>
                          <%- end -%>
                        </tr>
                      <%- end -%>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="bill_log_list">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <% Core::StockBillLog.inner_shown_attributes_for_stock_bill.each do |attr_name| -%>
                          <th>
                            <%= Core::StockBillLog.human_attribute_name(attr_name) %>
                          </th>
                        <%- end -%>
                      </tr>
                    </thead>
                    <tbody>
                    <%- @logs.each do |log| -%>
                        <tr>
                          <%= Core::StockBillLog.inner_shown_attributes_for_stock_bill.each do |attr_name| -%>
                            <td><%= log.send(attr_name) %></td>
                          <%- end -%>
                        </tr>
                      <%- end -%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div><!-- /span -->
        </div>
      </div>
    </div>
  </div>
</div>