<div class="page-header"></div>
<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @sys_category, html: {role: 'form'} do |f| %>
      <%= f.input :parent_id do %>
        <%= f.select :parent_id, Sys::Category.account_roots.select{|c| c.id != @sys_category.id}.collect{|c| [c.name, c.id]}, include_blank: true %>
      <% end %>
      <%= f.input :name %>
      <%= f.input :status do %>
        <%= f.select :status, Sys::Category::STATUS %>
      <% end %>
      <%= f.input :properties_name do %>
        <%- Sys::Property.account_properties.each do |property| -%>
          <label>
          <%= check_box_tag "property_ids[]", property.id, @sys_category.properties.include?(property.id), id: "property_#{property.id}" %><%= property.name %>
          </label><br/>
        <%- end -%>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>