<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @trade.shop_id %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @trade.tid %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
